<nav class="menu">
    <ul class="menu__inner">
        {{- $currentPage := . -}}
        {{ range .Site.Menus.main -}}
            <li><a href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
        {{- end }}

        {{ if .IsTranslated }}
            {{ range .Translations }}
                <li><a href="{{ .Permalink }}">{{ .Site.Language.LanguageName }}</a></li>
            {{ end }}
        {{ else }}
            {{ if eq .Site.Language.Lang "en" }}
                <li><a href="/">Bahasa Indonesia</a></li>
            {{ else }}
                <li><a href="/en">English</a></li>
            {{ end }}
        {{ end }}
    </ul>
</nav>
