{{ define "main" }}
    

    <main class="posts">
        {{ .Site.Params.homeSubtitle }}
        <span><a href="https://podcasts.apple.com/us/podcast/kartini-teknologi/id1459757397?uo=4">Apple Podcast</a></span>, 
        <span><a href="https://open.spotify.com/show/1vLCiFbZdvfAkcprdKbbqI?si=feQ9g3SFQQaLIJrEe5DOcQ">Spotify</a></span>, 
        <span><a href="https://anchor.fm/kartini-teknologi">Anchor</a></span>, 
        <span><a href="https://soundcloud.com/kartiniteknologi">SoundCloud</a></span>, 
        <span>and <a href="/tentang/#berlangganan">others</a></span>

        {{- if .Content }}
            <div class="content">{{ .Content }}</div>
        {{- end }}

        {{- range .Data.Pages.GroupByDate "2006" }}
            <div class="posts-group">
                <div class="post-year">{{ .Key }}</div>

                <ul class="posts-list">
                    {{- range where .Pages "Type" "post"}}
                        <li class="post-item">
                            <a href="{{.Permalink}}">
                                <span class="post-title">{{.Title}}</span>
                                <span class="post-day">{{ if .Site.Params.dateformShort }}{{ .Date.Format .Site.Params.dateformShort }}{{ else }}{{ .Date.Format "Jan 2"}}{{ end }}</span>
                            </a>
                        </li>
                    {{- end }}
                </ul>
            </div>
        {{- end }}
    </main>
{{ end }}
